/* External CSS */

/* custom fonts */
.jersey-10-regular {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.satisfy-regular {
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
}  

/* initializing variables */
:root {
    --main-h5-color: rebeccapurple;
}

/* universal */
*{
   box-sizing: border-box;
}

/* id */
#names {
    color: rgb(9, 9, 9);
}

/* attribute */
a[href*="attendance-list"]{
    color: blue;
    /* nested */
    &:hover{
        color:turquoise;   
    }
}

/* Descendent */
ol li {
    align-items: center;
}

/* Child combinator */
div > text {
    align-items: center;
}

/* General sibling */
ul ~ li {
    align-items: center;
}

/* Adjacent sibling */
section + ul {
    align-items: center;
}

/* Combining two */
ol.box {
    align-items: center;
}

/* Adding color */
text {
    /* absolute unit #1 */
    width: 300px;
    font-size: 1.2em;
    color: hsl(20deg 82% 43%);
    display: block;
}

h1 {
    font-family: "Jersey 10", sans-serif;
    color: rgb(6, 67, 147);
    font-size: 3em;
    text-align: center;
}

/* has selector */
section:has(+ p){
    margin-bottom: auto;
}

h3 {
    color: rgb(30, 122, 180);
    font-size: 1.5em;
}

h4 {
    color: #138013; 
    font-size: 1.3em;
}

h5 {
    /* using variable and fallback */
    color: var(--main-h5-color, purple);
    font-size: 1.1em;
}

fieldset {
    width: 50vw;
}

select {
    /* absolute unit #2 */
    width: 2in;
    background-color: aliceblue;
}

datalist {
    background-color: aliceblue;
    font-size: 1.2em;
}

p {
    /* relative unit #1 */
    width: 90vw;
    /* relative unit #2 */
    font-size: 1.3em;
    /* text */
    color: color-mix(in lch, rgb(4, 4, 4), rgb(10, 10, 10));
    text-decoration:none;
    text-align: left;
}

nav {
    /* absolute unit #3 */
    width: 10.5cm;
    font-size: 1.2em;
}


li {
    /* relative unit #3 */
    font-size: 1.5rem;
}

textarea {
    font-size: 1.2em;
    height: 10vw;
    width: 70vw;
    /* background color */
    background-color: aliceblue;
    color: color(from rgb(46, 48, 46) srgb r g b / 0.5)
}

/* Pseudo class */
button:hover {
    background-color: aliceblue;
    font-size: 1.2em;
}

button:active{
    background-color:rgb(59, 157, 244);
    font-size: 1.2em;
}


/* box1 */
.box {
    min-width: fit-content;
    max-width: fit-content;
    /* longhand border */
    border-top-style:ridge;
    border-bottom-style: ridge;
    border-left-style: ridge;
    border-right-style: ridge;

    border-top-color: #138013;
    border-bottom-color: #138013;
    border-left-color: #138013;
    border-right-color: #138013;

    border-top-width: 0.2ch;
    border-bottom-width: 0.2ch;
    border-left-width: 0.2ch;
    border-right-width: 0.2ch;

    border-top-left-radius: 1ch;
    border-top-right-radius: 1ch;
    border-bottom-left-radius: 1ch;
    border-bottom-right-radius: 1ch;

    /* longhand padding */
    padding-top: 1ch;
    padding-left: 1ch;
    padding-right: 1ch;
    padding-bottom: 1ch;

    /* longhand margin */
    margin-top: 3ch;
    margin-left: 3ch;
    margin-bottom: 3ch;
    margin-right: 3ch;
    width:fit-content;

}

/* box2 */
.box2 {
    /* shorthand border */
    border-style: ridge;
    border-color: #138013;
    border-width: 0.2ch;
    border-radius: 1ch;
    /* shorthand padding */
    padding: 1ch;
    /* Shorthand margin */
    margin: 3ch;
    width:fit-content;

    display: block;
    position: sticky;
}

/* box3 */
.box3 {
    border-style: ridge;
    border-color: #138013;
    border-width: 0.2ch;
    border-radius: 1ch;
    padding: 1ch;
    /* margin auto*/
    margin: auto;
    width: fit-content;

    display: inline-block;
    position: static;
}

/* flex stuff */
.container {
    font-size: 1.2em;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    flex-direction: column;
}

/* selector list */
button, input, option, select, label, datalist {
    font-size: 1em;
}

/* grid stuff */
.end {
    display: grid;
    
    grid-template-areas: 
    'header header header header header header'
    'contact contact main main desclaimer desclaimer'
    'contact contact footer footer desclaimer desclaimer';

    gap: 4px;
    background-color: rgb(150, 168, 227);
    padding: 5px;
   
}

.end > button:hover{
    background-color: rgb(200, 211, 244);
    text-align: center;
    font-size: 30px;
}
.item1{
    grid-area: header;
}
.item2{
    grid-area: main;
}
.item3{
    grid-area: footer;
}
.item4{
    grid-area: contact;
}
.item5{
    grid-area: desclaimer;
}

.media {
    display:grid;
    grid-area: auto;
    grid-template-columns: max-content;
    grid-row: auto;
}

/* media queries */
@media (any-hover: hover) {
    a:hover {
        background: yellow;
    }
}

/* media query for smaller screens */
@media screen and (max-width: 600px) {
    body {
        width: 100%
    }
}

