/* External CSS stylesheet */

/* initializing variables */
:root {
    --main-h5-color: rebeccapurple;
}

/* style to title */
h1 {
    /* color 1 */
    color: rgb(6, 67, 147);
    /* text align */    
    text-align: center;
    /* text decor */
    text-decoration: underline;
}


/* style to all h3 */
h4 {
    /* color 2 */
    color: #138013; 
}

h5 {
    /* using variable and fallback */
    color: var(--main-h5-color, purple);
}

/* style to all text */
text {
    /* color 3 */
    color: hsl(20deg 82% 43%);
    /* absolute unit #1 */
    width: 300px;
}

/* style to all h3 */
h3 {
    /* color 4 */
    color: DarkCyan;
}

/* style to paragraphs */
p {
    /* color  5*/
    color: color-mix(in lch, rgb(4, 4, 4), rgb(10, 10, 10));
    /* relative unit #1 */
    font-size: 1.3em;
    /* relative unit #2 */
    width: 90vw;
}

/* style to textarea */
textarea {
    /* color 6 */
    color: color(from rgb(46, 48, 46) srgb r g b / 0.5)
    /* background color */
    background-color: aliceblue;
    /* height and width */
    height: 10vw;
    width: 70vw;
}

select {
    /* absolute unit #2 */
    width: 2in;
}

nav {
    /* absolute unit #3 */
    width: 10.5cm;
    font-size: 1.2em;
}

li {
    /* relative unit #3 */
    font-size: 1.5rem;
}

/* box1 */
.box {
    /* min and max width */
    min-width: fit-content;
    max-width: fit-content;
    /* longhand border */
    border-top-style:ridge;
    border-bottom-style: ridge;
    border-left-style: ridge;
    border-right-style: ridge;

    border-top-color: #138013;
    border-bottom-color: #138013;
    border-left-color: #138013;
    border-right-color: #138013;

    border-top-width: 0.2ch;
    border-bottom-width: 0.2ch;
    border-left-width: 0.2ch;
    border-right-width: 0.2ch;

    border-top-left-radius: 1ch;
    border-top-right-radius: 1ch;
    border-bottom-left-radius: 1ch;
    border-bottom-right-radius: 1ch;

    /* longhand padding */
    padding-top: 1ch;
    padding-left: 1ch;
    padding-right: 1ch;
    padding-bottom: 1ch;

    /* longhand margin */
    margin-top: 3ch;
    margin-left: 3ch;
    margin-bottom: 3ch;
    margin-right: 3ch;

}

/* box2 */
.box2 {
    /* shorthand border */
    border-style: ridge;
    border-color: #138013;
    border-width: 0.2ch;
    border-radius: 1ch;
    /* shorthand padding */
    padding: 1ch;
    /* Shorthand margin */
    margin: 3ch;
    /* display block */
    display: block;
    /* position sticky */
    position: sticky;
}

/* box3 */
.box3 {
    border-style: ridge;
    border-color: #138013;
    border-width: 0.2ch;
    border-radius: 1ch;
    padding: 1ch;
    /* margin auto*/
    margin: auto;
    width: fit-content;
    /* display inline-block */
    display: inline-block;
    /* position static */
    position: static;
}


